@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Amita:wght@400;700&display=swap");
@import "tailwindcss";

body {
  font-family: "Quicksand", sans-serif;
  background: #F5EFE3;
  color: #3B2418;
}